body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #64d91c; /* Optional: Set a black background for the game */
}

canvas {
  display: block;
}
